<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Signatura" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <ion-tab title="Camera" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

  <!-- Video Tab -->
  <ion-tab title="Video" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/video">
    <ion-nav-view name="tab-video"></ion-nav-view>
  </ion-tab>

  <!-- Images Tab -->
  <ion-tab title="Images" icon-off="ion-images" icon-on="ion-images" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
